*{
    box-sizing: border-box;
}

.link{
    color:white;
}

div{
    display: block;
    unicode-bidi: isolate;
}

body{
    margin:0px;
    width:100%;
    background-color: black;
}




.stats-container{
    display:flex;
    flex-direction: row;
    height: 300px;
}


.stat-box{
    flex-grow: 1;
    margin: 0px;
    color: white;
    width:50%;
    padding-left: 40px;
    padding-right: 40px;

    align-content: center;
    text-align: center;
    justify-content: center;
}

.one{
    border-right: white 1px solid;
    border-bottom: white 1px solid;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Logo_Soul.png/640px-Logo_Soul.png);
    background-size: cover;
    background-position: center;
}

.two{
    border-left: white 1px solid;
    border-bottom: white 1px solid;
}

.three{
    border-right: white 1px solid;
    border-top: white 1px solid;
}

.four{
    border-left: white 1px solid;
    border-top: white 1px solid;
}





.manifesto-container{
    display:flex;
    flex-direction: row;
    height: 300px;
}

.manifesto-box{
    flex-grow: 1;
    margin: 0px;
    color: white;
    width:100%;
    padding-left: 80px;
    padding-right: 80px;

    align-content: center;
    text-align: center;
    justify-content: center;

    border-top: white solid 1px;
}






.regular{
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    font-style: normal;
   
}

.bold{
    font-family: "articulat-cf", sans-serif;
    font-weight: 800;
    font-style: normal;
}
